async-timeout==4.0.3
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
googleapis-common-protos==1.63.2
grpcio==1.64.1
idna==3.7
load-dotenv==0.1.0
lz4==4.3.3
numpy==2.0.0
pandas==2.2.2
pinecone-client==4.1.2
pinecone-plugin-interface==0.0.7
protobuf==4.25.3
protoc-gen-openapiv2==0.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.7
requests==2.32.3
six==1.16.0
soupsieve==2.5
spotipy==2.24.0
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
